* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: open-sans-bolder;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: open-sans-regular;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: open-sans-regular, sans-serif;
  font-weight: 16px;
  line-height: 1.2;
  margin: 0;
}
.popup__hidden{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;

}
.container__popup{

	position: relative;
}

.close__popup{
	display: block;
background-image: url(../svg/form-x.svg);
	width: 20px;
	height: 20px;
	border:none;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	margin-top: -25px;
	right: 0;
	background-color: transparent;

	

}

.feedback__form{
	max-width: : 330px;
	background-color: white;
	padding: 50px 30px;
}

.popup__title{
	font-family: open-sans-bolder, sans-serif;
	font-size: 20px;
	color: #0f0d0e;
	text-transform: uppercase;
	text-align: center;
}

.popup__title::after{
	content: "";
	display: block;
	position: relative;
	width: 67px;
	height: 3px;
	margin: 15px auto 27px;
	background-color: #e1d9bd;
}

.popup__qestions{
	display: block;
	margin: 28px 0 8px;
	font-size: 13px;
	max-width: 300px;
}

.feedback__field{
	width: 100%;
	height: 47px;
	-webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px 15px;
    border-radius: none;
    border: 1px solid #f4f7f6;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
}


.radio__button{
	position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);


}

.radio__text:before{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	background-size: 15px;
	margin-right: 5px;

}

.radio__button:checked ~ .radio__text:before{
	background-image: url("../svg/form-circle.svg");
}

.field{
	width: 100%;
    height: 45px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 30px;
    font-family: inherit;
    outline: none;
    font-size: 13px;
    background-color: #f4f7f6;
    resize:none;
    min-height: 128px;
}

.feedback__button{
	border: none;
    background-color: #b69f5b;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    height: 45px;
}
.popup__qestions{
	 font-family: OpenSans-Regular, sans-serif;
	 font-size: 13px;

}

.header {
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.6;
  z-index: -1;
}
.container__header {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 15px;
}

.header__menu {
  display: flex;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

.menu__list {
  display: flex;
  text-decoration: none;
}
.menu__item {
  list-style-type: none;
}
.menu__link {
  display: flex;
  font-family: open-sans-regular, sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 13px;
  margin-right: 35px;
}

.menu__link:hover {
  text-decoration: underline;
}

.header__title {
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  color: white;
  line-height: 1.47;
  text-align: center;
  max-width: 750px;
  margin: auto;
  padding: 128px 0;
}

/* Page */
.page {
  margin-top: 60px;
  padding: 0 15px;
}
.page__container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
}
.main {
  max-width: 778px;
}

.posts {
  display: flex;
  flex-direction: row;
}

.posts:nth-child(n + 2) {
  margin-top: 60px;
}

.post-img {
  display: flex;
  flex-direction: row;
}
.post__text {
  margin-left: 30px;
}

.post__tag {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}
.post__tag-item {
  text-decoration: none;
}
.post__tag-link {
  text-decoration: none;
  font-family: open-sans-bolder;
  font-size: 14px;
  margin-right: 20px;
  color: #b59f5b;
  text-transform: uppercase;
}
.post__tag-link:hover {
  text-decoration: underline;
}
.post-title {
  width: 367px;
  font-family: open-sans-bolder, sans-serif;
  color: #0f0d0e;
  margin-bottom: 32px;
}
.post__name-link {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
}
.post__name-link:hover {
  color: #b59f5b;
}

.date {
  margin-right: 13px;
  font-family: open-sans-regular, sans-serif;
  font-size: 12px;
  color: #15242c;
  opacity: 0.54;
}
.post__text-info {
  font-family: open-sans-regular, sans-serif;
  font-size: 15px;
  color: #15242c;
}
.post__text-item {
  width: 367px;
  margin-top: 55px;
  line-height: 22px;
}

.post__text-item > p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}

.autor {
  font-family: open-sans-bolder, sans-serif;
  font-size: 12px;
  color: #15242c;
}

/* ASIDE  */

.aside {
  max-width: 272px;
  margin-left: 120px;
}
.aside__news__post {
  display: flex;
  text-align: left;
  margin-top: 25px;
}
.news-img {
  margin-right: 10px;
}

.aside__title {
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
.aside__title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}

.news-name {
  margin-top: 0px;
  text-decoration: none;
}
.news-link {
  text-decoration: none;
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #15242c;
}
.news-link:hover {
  color: #b59f5b;
}
/* FORM */
.aside__posts-search {
  display: flex;
  margin-top: 60px;
  width: 100%;
}
.search-field {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #e9eceb;
  height: 46px;
  width: 223px;
  padding-left: 18px;
}
.search-field:focus {
  outline: 1px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.search-button {
  border: none;
  width: 46px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}
.search-button:hover {
  background-color: #323232;
}
.aside__subscribe {
  margin-top: 62px;
}


.subscribe-field {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #e9eceb;
  height: 46px;
  margin-top: 23px;
  padding-left: 18px;
  width: 100%;
}
.subscribe-field:focus {
  outline: 1px solid #b59f5b;
}
.subscribe-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
  
  
}
.subscribe-button:hover {
  background-color: #323232;
}
/* Tags */
.aside__tags {
  margin-top: 60px;
}
.aside__tegs-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 272px;
}
.aside__tegs-item {
  margin-top: 26px;
  margin-left: 3px;
  margin-right: 3px;
}
.aside__tegs-link {
  height: 27px;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-bolder, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 7px 11px;
}
.aside__tegs-link:hover{
  border: 3px solid #b59f5b;
}
/* Theme */
.aside__theme {
  margin-top: 60px;
}
.aside__theme-item {
  list-style-type: none;
  margin-top: 14px;
  margin-left: 3px;
}
.aside__theme-item:nth-child(1) {
  margin-top: 28px;
}
.aside__theme-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 272px;
  height: 1px;
  background: #eeeeee;
}

.aside__theme-link {
  text-decoration: none;
  align-items: center;
  align-content: space-between;
  font-family: open-sans-bolder, sans-serif;
  color: #000000;
  font-size: 14px;
}
.aside__theme-link:hover {
  color: #b59f5b;
}

.theme-count {
  margin-left: 5px;
  font-family: open-sans-bolder, sans-serif;
  font-size: 12px;
  color: #b59f5b;
  display: inline-block;
  vertical-align: top;
}
/* FOOTER */
.footer {
  margin-top: 64px;
  margin-bottom: 40px;
}

.container__footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.footer__address {
  background-color: #f4f7f6;
  height: 80px;
  padding: 30px 0;
  margin-bottom: 75px;
}
.footer-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social:not(:first-child) {
  margin-left: 80px;
}

.social_icon_dribbble {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social_icon_pinterest {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.social_icon_tumblr {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.Copyright {
  display: flex;
  justify-content: center;
  margin-top: 73px;
  font-family: open-sans-bolder, sans-serif;
  color: #999999;
  font-size: 12px;
}


/*Trends*/

.trends{

	width: 100%;
    margin-top: 57px;
}

.container__trend{
	display: flex;
	flex-direction: row;
    justify-content: center;  

}
.trend__item {
	direction: flex;
	align-items: flex-end;
	width: 25%;
    min-height: 320px;
    background-color: black;
    background-size: cover;
    position: relative;
    padding: 15px 20px;
    position: relative;
   
}
.trend__item:nth-child(n+2) {
    margin-left: 5px;
}
.trend1 {
    background-image: url("../images/trend1.jpg");
}

.trend2 {
    background-image: url("../images/trend2.jpg");
}

.trend3 {
    background-image: url("../images/trend3.jpg");
}

.trend4 {
    background-image: url("../images/trend4.jpg");
}

.trends__title{
	font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.trends {
    margin-top: 63px;
}
.trends__title::after {
    content: '';
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    display: block;
    margin: 14px auto 0 auto;
}

.trend__item h3 {
	font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    list-style-type: none;
}

.trend__item a {
	color: white;
	list-style-type: none;

}
.trends__tag {
	 display: flex;
	 flex-wrap: wrap;
	list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0;
    color: #bb9e5c;
    text-decoration: none;
    font-weight: bold;
}

.trends__tag li a {
	color: #bb9e5c;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    list-style-type: none;
}

h3 a {
	text-decoration: none;
}
.trends__content{
	margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 3px solid #b69f5b;
    z-index: 2;
    padding: 30px;
    position: absolute;
    bottom: 0;
}
.trends__tag li{
	margin-right: 20px;
}

.trend__item:after {
    content: "";
    position: absolute;
    background: black;
    opacity: 0.6;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.products {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 65px;
	padding: 0 15px;



}
.container__products{
	display: flex;
    justify-content: space-between;
    padding: 0 23px;
	text-transform: uppercase;
	font-size: 15px;

}
.products__item{
	display: flex;
	flex-direction: column;
    align-items: center;
	/*width: 33.33%;*/
	padding: 0;
    width: 300px;

}
.picture {
    display: block;
    width: 100%;
    height: auto;
}

.craft-img {
  display: block;
  width: 100%;
  height: auto;
}

.market{
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
	 align-items: flex-end;
	margin-top: 25px;
	position: relative;


}
.products__img{
	display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
}
.products__border{
	outline: 3px solid #d3c59d;
    outline-offset: 20px;
    margin-top: -15px;
    padding-top: 15px;
    flex-grow: 1;

}


.products__title{
	font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;

}
.products__title::after {
    content: '';
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    display: block;
    margin: 14px auto 0 auto;
}

.button__market {
	width: 140px;
    height: 50px;
    background-color: #b69f5b;
    border: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
p {
	font-size: 15px;
	font-family: open-sans-regular, sans-serif;
	text-transform: none;
}
a{
	color: #e8e2d2;
	text-decoration: none;
	font-size: 15px;

}
a:hover {
    text-decoration: underline;
}

 
.old-price {
    font-size: 14px;
    font-family: open-sans-bolder, sans-serif;
    text-decoration: line-through;
    position: absolute;
    left: 0;
    bottom: 25px;
    font-size: 14px;
}
.new-price {
    font-size: 20px;
  font-family: open-sans-bolder, sans-serif;
}

@media (min-width: 1200px) {

    .menu-button {
        display: none;
    }
    }

    @media (max-width: 1199px){
    	.header {
        margin-right: 0;
    }

    .menu-button {
        border: none;
        width: 24px;
        height: 21px;
        background-color: transparent;
        position: relative;
    }

     .menu-button-label, .menu-button:before, .menu-button:after {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    
    .menu-button:before {
        content: "";
        position: absolute;
        top: 0;
    }
    
    .menu-button:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

    .menu__list{
    	display: none;
    }
    }

/*Tablet*/

@media (min-width: 641px) and (max-width: 1199px){
	.header {
        padding-bottom: 112px;
        background-image: url("../images/banner-bg-tablet.jpg");
        padding-top: 45px;
    }
    
    .menu {
        padding: 0 35px;
    }

    .header__logo__img"{
    	width: 160px;
        margin-left: 0;
    }

    .posts {
    	flex-direction: column;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait){
	.trend__item {
		flex-basis: 49%;
        flex-grow: 1;

	}

	.trends__content{
		justify-content: space-between;
        flex-wrap: wrap;
	}
}

/*Mobile*/

@media(max-width: 640px){

	.header{
		 background-image: url("../images/banner-mobile.jpg");


	}

	.header__logo{
		width: 270px;

	}

	.menu{
		flex-direction: column-reverse;
	}

	.container__trend, .page__container, .page, .posts, .container__products, .aside__posts, .products__item{
		flex-direction: column;
	}

	.trend__item{
		width: 100%

	}

	.main{
	   width: 100%;

	}

	.post-img{
		min-width: 0;
	}

	.post__text{
		margin-left: 0;
		
	}
	.post-title{
		max-width: 100%;
	}
	.post__text-item{
		font-size: 14px;
		max-width: 100%;
	}

	.post__name-link{
		font-size: 16px;
		flex-wrap: wrap;
		max-width: 100%;
	}

	.aside {
        min-width: 0px;
        max-width: 640px;
        margin-left: 0;
}
.products__item{
	flex-wrap: wrap;

}
.products__item:nth-child(n+2){
	margin-left: 0;

}
.products{
	margin: 30px auto 0px;
}
.container__products{
	margin-top: 30px;
}

.products__item{
	 align-items: center;
      margin-bottom: 55px;
}

.products__border{
	width: 100%;
        margin-top: -12px;
        padding-top: 25px;
}

.menu__list{
	 display: none;
}
 .menu-button {
        border: none;
        width: 22px;
        height: 19px;
        background-color: transparent;
        position: relative;
        cursor: pointer;
    }

    .menu-button-label, .menu-button:before, .menu-button:after {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
    }
    
    .menu-button:before {
        content: "";
        position: absolute;
        top: 0;
    }
    
    .menu-button:after {
        content: "";
        position: absolute;
        bottom: 0;
    }

}

.popup__hidden{
	display: none;
}
